
.loginForm {
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.formItem {
    width: 100%;
    margin-bottom: 15px;
}

.loginForm input{
    width: 100%;
    font-size: 1em;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
}
.formItem.radio  input {
    width: 30px;
}
.formItem.agreement input {
   width: 30px;
}
.loginForm label {
    cursor: pointer;
}

.passwordField{
    padding: 10px 0;
    position: relative;
}
.passwordField button {
    position: absolute;
    top: 10;
    right: 0;
}





